  <div class="container mt-3">
  <h5>Nova Reunião</h5>
  <div class="mt-5 d-flex justify-content-center flex-column col-8">
    <%= simple_form_for @meeting  do |f| %>
      <%= f.input :title, label: "Assunto"%> 
      <%= f.association :room, label: "Qual sala de reunião?"%>
      <%= f.input :date, label: "Data (dd/mm/aaaa)"%>
      <%= f.input :start_time, label: "Hora (Reuniões só são permitidas das 8:00 as 18:00", as: :time, :minute_step => 15 %>
      <%= f.input :duration_minutes, label: "Duração (Minimo 15 minutos)", :minute_step => 15 %>
      <%= f.submit class: "btn btn-primary mb-5" %>
    <% end %>
  </div>
</div>